.btnCheckoutItem {
    background-color: #ff4c4c; /* Green */
    border: none;
    color: white;
    top:10px;
    width: 150px;
    height: 50px;
    position:relative;
    bottom: 25px;
}

.btnCheckoutSubmit {
    background-color: #ff4c4c; /* Green */
    border: none;
    color: white;
    top:10px;
    width: 150px;
    height: 50px;
    position:relative;
    bottom: 25px;
}

.removeButton {
    background-color: #ff4c4c; /* Green */
    border: none;
    color: white;
    width: 125px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }