.drinkItemTable table {
    width: 1400px;
    height:1400px;
    margin-left: 20px;
    border: 3px solid;
    border-collapse: collapse;
  }

  /* Set the width of the total in stock column */
  thead th:nth-child(6) {
    width: 7%;
  }

  /* Set the width of the number checked out column */
  thead th:nth-child(7) {
    width: 10%;
  }

.btnDrinkItem {
  border-radius: 10px;
  background-color: #E51636; /* Green */
  font-family: Verdana, sans-serif;
  font-size: 40px;
  border: none;
  color: white;
  width: 350px;
  height: 100px;
  position:relative;
  left:50px;
  bottom: 40px;
  
}

.checkoutDrinkButton {
  border-radius: 10px;
  background-color: #E51636; /* Green */
  font-family: Verdana, sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  position:relative;
  top:50px;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.addDrinkButton {
  border-radius: 10px;
  background-color: #E51636; /* Green */
  font-family: Verdana, sans-serif;
  border: none;
  color: white;
  position:relative;
  width: 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.removeDrinkButton {
  border-radius: 10px;
  background-color: #E51636; /* Green */
  font-family: Verdana, sans-serif;
  border: none;
  color: white;
  width: 125px;
  height: 50px;
  position: relative;
  left:25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnBackDrink {
  border: none;
  border-radius: 10px;
  background-color: #E51636;
  font-family: Verdana, sans-serif;
  color:white;
  padding: 15px;
  height:50px;
  width:75px;
  position: relative;
  left: 460px;
  bottom: 10px;
}

.employeeSession {
  background-color:  white; /* Green */
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  border: solid;
  color: black;
  padding: 15px 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 90px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.googleSession {
  background-color:  white; /* Green */
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  border: solid;
  color: black;
  padding: 15px 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}