.btnManagerHome {
    background-color: #E51636; /* Green */
    border-radius: 10px;
    font-family: Verdana, sans-serif;
    font-size: 50px;
    border: none;
    color: white;
    width: 450px;
    height: 150px;
    position:relative;
    bottom:50px;
}

.btnViewItem {
  border-radius: 10px;
  background-color: #E51636; /* Green */
  font-family: Verdana, sans-serif;
  border: none;
  color: white;
  width: 550px;
  height: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.employeeSession {
  background-color:  white; /* Green */
  border-radius: 10px;
  font-family: Verdana, sans-serif;
  border: solid;
  color: black;
  padding: 15px 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  height: 90px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btnLogOutManager {
  border: none;
  border-radius: 10px;
  background-color: black;
  font-family: Verdana, sans-serif;
  color:white;
  padding: 15px;
  height:50px;
  width:100px;
  position: absolute;
  right: 10px;
  top: 120px;
}