.button {
  background-color: #ff6242;
}

.sideItemTable table {
    width: 1500px;
    margin-left: 20px;
    border: 1px solid;
    border-collapse: collapse;
  }

  /* Set the width of the total in stock column */
  thead th:nth-child(6) {
    width: 7%;
  }

  /* Set the width of the number checked out column */
  thead th:nth-child(7) {
    width: 10%;
  }

  .btnSideItem {
    background-color: #ff4c4c; /* Green */
    border: none;
    color: white;
    top:10px;
    width: 150px;
    height: 50px;
    position:relative;

    bottom: 25px;
  
}
  .updateButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .deleteButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .saveButton {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .addSideItemButton {    
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .checkoutButton {
   
    background-color: #ff4c4c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    position:relative;
    top:50px;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

  /* The next few classes are for styling the input boxes for the forms that adds new equipment 
  .idInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .nameInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .modelInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .brandInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .priceInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  .totalInput {
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
  }

  */


